html, body {
  height: 100%;
  background-color: gray;
}

.Pixel {
  width: 32px;
  height: 32px;
  display: inline-block;
  float: left;
}

.PixelGrid-Wrapper {
  width: 512px;
}

.Red {
  background-color: black;
}

.Blue {
  background-color: white;
}

.MouseTracker {
  margin: 0;
  padding: 0;
}
